@import "../../../assets/sass/base/general.scss";
.quiz_question{
    padding: 10px;
    box-shadow: 0 5px 10px rgba($cblack, 0.3);
    .question_text{
        margin-bottom: 10px;
    }
    .question_answers{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        .question_answer{
            padding: 5px;
            box-shadow: 0 5px 10px rgba($cblack, 0.3);
            cursor: pointer;
            transition: 0.4s;
            &:hover{
                box-shadow: 0 5px 10px rgba($cblack, 0.8);
            }
        }
    }
}