@import "../../assets/sass/base/general.scss";

.quize_title{
    display: flex;
    flex-direction: column;
    color: $cwhite;
    text-align: center;
    padding-top: 30px;
    @media(max-width: 1024px){
        padding-top: 50px;
    }
    .title{
        margin-bottom: 10px;
        font-size: 30px;
    }
    .go_back{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: 0.4s;
        @media(max-width: 1024px){
            top: 30px;
        }
        &:hover{
            text-shadow: 0 0 20px rgba($csuccess, 1);
        }
    }
}
.questions_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 50px;
    color: $cwhite;
    @media(max-width: 1024px){
        padding: 0 10px;
    }
    &.disabled{
        // opacity: 0.5;
        pointer-events: none;
    }
}